



<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
       <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4 title">
            {{title1}}
          </h3>
        </div>
       </div>
      <div class="card custom-card">
        <div class="card-body">

          <ul class="list-group">
            <li 
              *ngFor="let skill of skills"
              class="list-item d-flex justify-content-between align-items-center"
            >
              <span>I Love {{skill}}</span>
              
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>



<div class="container mt-5">
  <div class="row  justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
           <h3 class="text-center mb-4 title2">
            {{title2}}
           </h3>
        </div>
        </div>
      <div class="card">
        <div class="card custom-card">
          <div class="card-body">
          <ul class="list-group">
            <li
            *ngFor="let language of languages"
            class="list-item d-flex justify-content-between align-items-center">
              <span>I Love {{language}}</span>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4 title3">
            {{title3}}
          </h3>
        </div>
      </div>

      <div class="card custom-card">
        <div class="card-body">
          <ul class="list-group">
            <li
            *ngFor="let hobbie of hobbies"
            class="list-item d-flex justify-content-between align-items-center">
              <span>I Love {{hobbie}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="contaiiner mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4 title4">
            {{title4}}
          </h3>
        </div>
      </div>

      <div class="card custom-card">
        <div class="card-body">
          <ul class="list-group">
            <li
             *ngFor="let framework of frameworks"
              class="list-item d-flex justify-content-between align-items-center">
              <span>I Love {{framework}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4 title5">
            {{title5}}
          </h3>
        </div>
      </div>

      <div class="card custom-card">
        <div class="card-body">
          <ul class="list-group">
            <li
            *ngFor="let softSkill of softSkills"
            class="list-item d-flex justify-content-between align-items-center">
              <span>I Love {{softSkill}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-4 title6">
            {{title6}}
          </h3>
        </div>
      </div>

      <div class="card custom-card">
        <div class="card-body">
          <ul class="list-group">
            <li
            *ngFor="let task of tasks"
            class="list-item d-flex justify-content-between align-items-center">
              <span>{{task}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
